<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhotoService" closeTimeout="04:01:00"
                         openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52412/PhotoService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhotoService"
                contract="PhotoServiceReference.IPhotoService" name="BasicHttpBinding_IPhotoService" />
        </client>
    </system.serviceModel>
</configuration>